main{
    min-height: 500px;
}
.section-banner{
    min-height: 400px;

    img{
        height: 400px;
    }
}

.example-card {
    max-width: 350px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
  }
  mat-grid-list{
    margin: 10px 0px;
  }
  mat-grid-title{
    padding: 2px;
    border-radius: 30px;
    
  }
  h1{
    text-align: center;
    font-size: 30px;
    margin: 30px 20px;
    color: #4153b2;
  }
  mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4153b2;
  }

  mat-card-actions{
    display: flex;
    justify-content: space-around;
    p{
      color: red;
      font-size: 30px;
    }
    mat-card img{
      height: 300px;
      width: 300px;

    }
  }